$primary-color: #d17225; // 444 fff, eece1a b, w, y cc8a33 ca5b28
$secondary-color: #eece1a; //eece1a 1194d1 3ce212
$show-home-image: true;
$home-image: url(../img/background2.jpg); 
//about image
$show-about-image: true;
$about-image: url(../img/landscape3.jpg);
// work image
$show-work-image: true;
$work-image: url(../img/landscape4.png);

$background-opacity: 0.9;

@mixin easeOut  { //käytössä @include name
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 60%; //opacity for the cover
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
    @if $show-about-image {
        &#AbtBg-img {
            background: $about-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 60%; //opacity for the cover
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
    @if $show-work-image {
        &#WrkBg-img {
            background: $work-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                opacity: 60%; //opacity for the cover
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}
// Set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px){
        @content; 
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px){
        @content; 
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content; 
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px){
        @content; 
    }
}
